<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.winshare.edu.modules.classes.mapper.GroupScoreItemMapper" >

	<sql id="table_columns">
		id,
		group_id,
		item_name,
		score,
		book_name,
		chapter_name,
		remarks,
		create_time,
		modify_time
	</sql>

	<sql id="entity_properties">
		#{id},
		#{groupId},
		#{itemName},
		#{score},
		#{bookName},
		#{chapterName},
		#{remarks},
		#{createTime},
		#{modifyTime}
	</sql>


	<insert id="insert" parameterType="com.winshare.edu.modules.classes.entity.GroupScoreItem" useGeneratedKeys="true" keyProperty="id">
		insert into tb_group_score_item( <include refid="table_columns" /> )
		values ( <include refid="entity_properties" /> )
	</insert>
</mapper>